*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 248, 250);
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1100px;
    margin: auto;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

/* PRIMO HEADER DEVE POI ESSERE CAMBIATO IN FIXED AGGIUNGERE POI MARGIN TOP AL SECONDO */

header section:first-child {
    background-color: rgb(245, 248, 250);
    border: 1px solid rgb(203, 214, 226);
}

header section:nth-child(2) {
    background-color: white;
}

header section:last-child {
    background-image: url(immagini/sfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid rgb(51, 71, 91);
}

#menulingua::after{
    content: "";
    display: table;
    clear: both;
}

.menulingualeft {
    width: 50%;
    float: left;
    margin: 10px 0px;
}

.menulingualeft  li{
    display: inline-block;
    list-style-type: none;
}

#menulingualeft  a{
    color: rgb(51, 71, 91);
    text-decoration: none;
    font-size: 17px;
}

#listamenu  {
    padding: 20px 20px;
}

#iconafreccia {
    padding-left: 10px;
    color: rgb(124, 152, 182);
}

#globe{
    color: rgb(51, 71, 91);
    font-size: 17px;
    margin-right: 5px;
}

#listamenu li:last-child {
    padding-left: 20px;
    border-left: 2px solid rgb(203, 214, 226);
}

#listamenu li:first-child {
    margin-right: 20px;
}

.menulinguaright{
    height: 61px;
    width: 50%;
    float: right;
    margin: 10px 0px;
}

#menulinguaright {
    float: right;
}

#menulinguaright li{
    list-style-type: none;
    display: inline-block;
}

#menulinguaright a{
    text-decoration: none;
}

#menulinguaright ul {
    padding-right: 20px;
    padding-top: 10px;
}

#menulinguaright li:nth-child(2) {
    border: 2px solid rgb(255, 122, 89);
    padding: 10px 30px;
    margin-left: 20px;
    border-radius: 3px;
}

#menulinguaright li:nth-child(2) a{
    color:  rgb(255, 122, 89);
}

#menulinguaright li:last-child {
    border: 2px solid rgb(255, 122, 89);
    background-color: rgb(255, 122, 89);
    border-radius: 3px;
    padding: 10px 10px;
    margin-left: 10px;
}

#menulinguaright li:last-child a{
    color: white;
}

#menulinguaright li:first-child a{
    color: rgb(0, 164, 189);
}

.menuhubspot {
    width: 100%;
}

.menuhubspot::after{
    content: "";
    display: table;
    clear: both;
}

#menuhubspotleft a img {
    padding: 30px 20px ;
}

#menuhubspotleft {
    float: left;
    width: 30%;
}

#menuhubspotright {
    float: right;
    width: 70%;
}

#menuhubspotright ul {
    list-style: none;
}

#menuhubspotright ul li{
    display: inline-block;
}

#menuhubspotright ul li:not(:last-child){
    display: inline-block;
    padding-right: 40px;
}

#menuhubspotright a{
    text-decoration: none;
    color: rgb(51, 71, 91);
    font-weight: bold;
    font-size: 18px;
}

#menuhubspotrightfloat{
    margin: 30px 20px ;
    float: right;
}

#jumbo {
    width: 100%;
    padding-right: 60%;
}

#jumbo h1 {
    font-weight: bold;
    color: rgb(51, 71, 91);
    font-size: 45px;
    padding-left: 10px;
    padding-top: 100px;
    padding-bottom: 15px;
}

#jumbo div:nth-child(2) p {
    font-family: 'Roboto Slab', serif;
    color: rgb(51, 71, 91);
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
}

#jumbo p:last-child {
    font-family: 'Roboto Slab', serif;
    color: rgb(51, 71, 91);
    font-size: 13px;
    padding-left: 10px;
}

#jumbo div:nth-child(3){
    padding-left: 10px;
    padding-bottom: 45px;
    padding-top: 30px;
}

#jumbo a {
    border: 25px solid rgb(255, 122, 89);
    background-color: rgb(255, 122, 89);
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

#jumbo div:last-child p{
   color:rgb(51, 71, 91);
   padding-left: 10px;
   padding-bottom: 266px;
   padding-right: 240px;
   font-size: 14px;
   padding-top: 5px;
}

main section:first-child {
    background-color: rgb(245, 248, 250);
    margin-top: 50px;
}

#primoelementoprimariga::after {
    content: "";
    display: table;
    clear: both;
}

#primoelementoprimariga{
    margin-bottom: 30px;
    width: 100%;
    background-color: rgb(245, 248, 250);
}

.primoelementoprimarigaleft{
    width: 34%;
    float: left;
}

.primoelementoprimarigaleft h2{
    color: rgb(51, 71, 91);
    font-size: 30px;
    padding-right: 5%;
    padding-top: 30px;
    padding-left: 10px;
}

.primoelementoprimarigaleft p{
    color: rgb(51, 71, 91);
    padding-top: 30px;
    padding-left: 10px;
    font-size: 17px;
    padding-right: 30px;
    line-height: 1.4;
}

.primoelementoprimarigaright{
    width: 66%;
    float: left;
    background-color: white;
}

.primoelementoprimarigaright img:first-child {
    width: 35px;
    vertical-align: middle;
}

.primoelementoprimarigaright h3 {
    display: inline-block;
    color: rgb(51, 71, 91);
    font-size: 22px;
    padding-top: 50px;
}

.primoelementoprimarigaright h3 {
    display: inline-block;
    color: rgb(51, 71, 91);
    font-size: 22px;
    padding-top: 50px;
}

#primoelementoprimarigarightleft #first {
    padding-left: 30px;
}

#primoelementoprimarigarightleft div:nth-child(2){
    padding-left: 30px;
    padding-top: 20px;
}

#primoelementoprimarigarightleft div:last-child {
    padding-left: 30px;
}

.primoelementoprimarigaright  #description{
    color: rgb(51, 71, 91);
    padding-top: 20px;
    font-size: 15px;
    padding-right: 50px;
}

.primoelementoprimarigaright #hrtitle{
    color: rgb(51, 71, 91);
    font-weight: bold;
    font-size: 15px;
    padding-top: 20px;
}

.primoelementoprimarigaright hr{
    width: 100%;
    margin-top: 15px;
}

#divisore {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

#divisore div:first-child {
    float: left;
    width: 10%;
}

#divisore div:last-child {
    float: right;
    width: 90%;
    height: 50px;
    padding-right:50px;
}

#primoelementoprimarigarightright #thleft{
    height: 50px;
}

#primoelementoprimarigarightright #thleft{
    height: 50px;
    width: 50%;
    float: left;
}

#primoelementoprimarigarightright #thright{
    height: 50px;
    width: 50%;
    float: right;
}

#thleft ul {
    list-style:none;
}

#thleft li i {
   color: rgb(255, 122, 89);
}

#thleft li  {
   color: rgb(51, 71, 91);
   display: inline-block;
   padding-left: 30px;
}

#thright a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: rgb(255, 122, 89);
    border: 15px  solid rgb(255, 122, 89);
    padding-left: 70px;
    padding-right: 70px;
    border-radius:
}

#thright div {
    padding-left: 20px;
}

.primoelementosecondariga{
    margin-bottom: 80px;
    width: 100%;
}

.primoelementosecondariga:after{
    content: "";
    display: table;
    clear: both;
}

#primoelementosecondariga ul {
    list-style-type: none;
}

 #primoelementosecondariga #primoelementosecondarigaleft{
    float: left;
    width:366.66px;
}

#primoelementosecondarigaleft #left {
    background-color: white;
    margin:  10px;
}

#primoelementosecondarigaleft #left h4{
    color: rgb(51, 71, 91);
    font-size: 27px;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 25px;
}

#primoelementosecondarigaleft #left p{
    color: rgb(51, 71, 91);
    font-size: 18px;
     line-height: 1.5;
    padding-left: 30px;
}

#primoelementosecondarigaleft #left hr{
    color: rgb(51, 71, 91);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#primoelementosecondarigaleft #left h5{
    color: rgb(51, 71, 91);
    padding-left: 30px;
    font-size: 18px;
    padding-bottom: 10px;
}

#primoelementosecondarigaleft #left li i{
    color:  rgb(255, 122, 89);
}

#primoelementosecondarigaleft #left li {
    color:  rgb(51, 71, 91);
    padding-left: 30px;
    padding-top: 18px;
}

#primoelementosecondarigaleft #left li:first-child {
    color:  rgb(51, 71, 91);
    padding-left: 30px;
    padding-top: 20px;
}

 #left div a{
     color: white;
     text-decoration: none;
     border: 5px solid  rgb(255, 122, 89);
     background-color:  rgb(255, 122, 89);
     border-radius: 5px;
     padding-top: 8px;
     padding-bottom: 5px;
     padding-left: 89px;
     padding-right: 89px;
     display: block;
}

 #left div {
      padding-left: 30px;
      padding-top: 30px;
      padding-right:  30px;
      padding-bottom: 50px;
}

main section:nth-child(2) {
    background-image: linear-gradient(#179d9c,#24cbcc,#51d7ba  );
}

#secondoelementoprimariga  h4{
    color: white;
    font-size: 32px;
    padding-top: 150px;
    padding-left: 200px;
    padding-right:200px;
    text-align: center;
}

#secondoelementoprimariga p{
    padding-top: 15px;
    padding-left: 200px;
    padding-right:200px;
    color: white;
    font-size: 18.5px;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 100px;
}

#secondoelementosecondariga {
    width: 100%;
}

#secondoelementosecondariga  #mainlist>li {
    display: inline-block;
    position: relative;
}

#secondoelementosecondariga li {
    list-style-type: none;
}

#secondoelementosecondariga {
    color: white;
}

#secondoelementosecondariga  #number {
    font-size: 25px;
}

#secondoelementosecondariga p:first-child , p:nth-child(2) {
    display: inline-block;
}

#secondoelementosecondariga p:first-child {
    vertical-align: middle;
}

 #mainlist>li {
    padding-top: 40px;
    padding-left: 34.33px;
    padding-right: 33.33px;
    padding-bottom:40px;
    border-right: 2px solid white;
}

 #mainlist>li:last-child {
    border-right: 0px;
}

#secondoelementosecondariga li>ul {
    position: relative;
    width: 200px;
    height: 150px;
}

#secondoelementosecondariga #number {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#secondoelementosecondariga li p:only-child {
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#secondoelementosecondariga p:nth-child(2){
    font-size: 20px;
    position: absolute;
    top:50%;
    left: 80%;
    transform: translate(-50%,-50%);
}

#tabellaelementi {
    border: 1px solid white;
}

#secondoelementosecondariga img {
    font-size: 30px;
    position: absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#secondoelementosecondariga {
    margin-bottom: 150px;
}

main section:nth-child(3) {
    background-color:rgb(245, 248, 250);
}

#terzoelementoprimariga {
    width: 100%;
    margin-top: 80px;
}

#terzoelementosecondariga {
    width: 100%;
    margin-bottom: 200px;
}

#terzoelementosecondariga::after{
    content: "";
    display: table;
    clear: both;
}

#terzoelementoprimariga>div:first-child {
    width: 40%;
    height: 300px;
    float: left;
}

#terzoelementoprimariga .floatleft  {
    width: 60%;
    height: 300px;
    float: left;
}

#terzoelementoprimariga>div:first-child p:first-child {
    color: rgb(71, 81, 101);
    font-weight: bold;
    font-size:50px;
    padding-left: 30px;
    padding-top: 30px;
}

#terzoelementoprimariga>div:first-child p:last-child {
    color: rgb(61, 71, 91);
    padding-left: 30px;
    font-size: 25px;
    padding-top: 10px;
}

#terzoelementoprimariga>div:first-child p:last-child span {
    color: rgb(71, 81, 101);
    font-weight: bold;
}

#terzoelementoprimariga .imgcontainer {
     width: 100%;
     height: 100%;
}

.tabellaimmagini:after {
    content: "";
    display: table;
    clear: both;
}

.tabellaimmagini {
    padding-top: 20px;
    padding-left: 20px;
}

.img {
    float: left;
    width: 150px;
}

.img img {
    width: 100px;
}

.tabellaimmagini div:nth-of-type(3) img {
    height: 25px;
}

.tabellaimmagini div:nth-of-type(4) img {
    height: 25px;
}

.tabellaimmagini div {
    padding: 10px;
}

.imgcontainer {
    padding-top: 50px;
}

#terzoelementosecondariga>div:first-child {
    float: left;
    width: 50%;
    height: 300px;
}

#terzoelementosecondariga>div:last-child{
    float: left;
    width: 50%;
    height: 300px;
}

#terzoelementosecondariga>div:first-child h4 {
    color: rgb(71, 81, 101);
    font-size: 35px;
    padding-left: 30px;
}

#terzoelementosecondariga>div:first-child p{
    color: rgb(71, 81, 101);
    font-size: 17px;
    padding-left: 30px;
    line-height: 1.4;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 50px;
}

#terzoelementosecondariga>div:first-child a {
    text-decoration: none;
    color: white;
    background-color: rgb(255, 122, 89);
    border: 5px solid rgb(255, 122, 89);
    margin-left: 30px;
    padding-top:  20px;
    padding-bottom:  20px;
    padding-left: 40px;
    padding-right: 40px;
}

#terzoelementosecondariga>div:first-child p:last-child {
    font-size: 13px;
    padding-top: 50px;
}

#terzoelementosecondariga img {
    padding-left: 70px;
}

footer section{
    background-color: darkgrey;
}

#footerprimariga {
    height: 300px;
    width: 100%;
    border: 2px solid red;
    background-color: white
}

#footersecondariga {
    height: 100px;
    width: 100%;
    border: 2px solid red;
    background-color: white;
}

#footerterzariga {
    height: 200px;
    width: 100%;
    border: 2px solid red;
    background-color: white;
}
