*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: yellow;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1100px;
    margin: auto;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

/* PRIMO HEADER DEVE POI ESSERE CAMBIATO IN FIXED AGGIUNGERE POI MARGIN TOP AL SECONDO */

header section:first-child {
    background-color: rgb(245, 248, 250);
    border: 1px solid rgb(203, 214, 226);
}

header section:nth-child(2) {
    background-color: white;
}

header section:last-child {
    background-image: url(immagini/sfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid rgb(51, 71, 91);
}

#menulingua::after{
    content: "";
    display: table;
    clear: both;
}

.menulingualeft {
    width: 50%;
    float: left;
    margin: 10px 0px;
}

.menulingualeft  li{
    display: inline-block;
    list-style-type: none;
}

#menulingualeft  a{
    color: rgb(51, 71, 91);
    text-decoration: none;
    font-size: 17px;
}

#listamenu  {
    padding: 20px 20px;
}

#iconafreccia {
    padding-left: 10px;
    color: rgb(124, 152, 182);
}

#globe{
    color: rgb(51, 71, 91);
    font-size: 17px;
    margin-right: 5px;
}

#listamenu li:last-child {
    padding-left: 20px;
    border-left: 2px solid rgb(203, 214, 226);
}

#listamenu li:first-child {
    margin-right: 20px;
}

.menulinguaright{
    height: 61px;
    width: 50%;
    float: right;
    margin: 10px 0px;
}

#menulinguaright {
    float: right;
}

#menulinguaright li{
    list-style-type: none;
    display: inline-block;
}

#menulinguaright a{
    text-decoration: none;
}

#menulinguaright ul {
    padding-right: 20px;
    padding-top: 10px;
}

#menulinguaright li:nth-child(2) {
    border: 2px solid rgb(255, 122, 89);
    padding: 10px 30px;
    margin-left: 20px;
    border-radius: 3px;
}

#menulinguaright li:nth-child(2) a{
    color:  rgb(255, 122, 89);
}

#menulinguaright li:last-child {
    border: 2px solid rgb(255, 122, 89);
    background-color: rgb(255, 122, 89);
    border-radius: 3px;
    padding: 10px 10px;
    margin-left: 10px;
}

#menulinguaright li:last-child a{
    color: white;
}

#menulinguaright li:first-child a{
    color: rgb(0, 164, 189);
}

.menuhubspot {
    width: 100%;
}

.menuhubspot::after{
    content: "";
    display: table;
    clear: both;
}

#menuhubspotleft a img {
    padding: 30px 20px ;
}

#menuhubspotleft {
    float: left;
    width: 30%;
}

#menuhubspotright {
    float: right;
    width: 70%;
}

#menuhubspotright ul {
    list-style: none;
}

#menuhubspotright ul li{
    display: inline-block;
}

#menuhubspotright ul li:not(:last-child){
    display: inline-block;
    padding-right: 40px;
}

#menuhubspotright a{
    text-decoration: none;
    color: rgb(51, 71, 91);
    font-weight: bold;
    font-size: 18px;
}

#menuhubspotrightfloat{
    margin: 30px 20px ;
    float: right;
}

#jumbo {
    width: 100%;
    padding-right: 60%;
}

#jumbo h1 {
    font-weight: bold;
    color: rgb(51, 71, 91);
    font-size: 45px;
    padding-left: 10px;
    padding-top: 100px;
    padding-bottom: 15px;
}

#jumbo div:nth-child(2) p {
    font-family: 'Roboto Slab', serif;
    color: rgb(51, 71, 91);
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
}

#jumbo p:last-child {
    font-family: 'Roboto Slab', serif;
    color: rgb(51, 71, 91);
    font-size: 13px;
    padding-left: 10px;
}

#jumbo div:nth-child(3){
    padding-left: 10px;
    padding-bottom: 45px;
    padding-top: 30px;
}

#jumbo a {
    border: 25px solid rgb(255, 122, 89);
    background-color: rgb(255, 122, 89);
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

#jumbo div:last-child p{
   color:rgb(51, 71, 91);
   padding-left: 10px;
   padding-bottom: 266px;
   padding-right: 240px;
   font-size: 14px;
   padding-top: 5px;
}

main section:first-child {
    background-color: grey;
}

#primoelementoprimariga{
    height: 150px;
    width: 100%;
    background-color: lightblue;
    border: 2px solid red;
}

#primoelementosecondariga{
    height: 250px;
    width: 100%;
    background-color: lightblue;
    border:  2px solid red;
}

main section:nth-child(2) {
    background-color: lightgreen;
}

#secondoelementoprimariga {
    height: 200px;
    width: 100%;
    border: 2px solid black;
}
#secondoelementosecondariga {
    height: 400px;
    width: 100%;
    border: 2px solid black;
}

main section:nth-child(3) {
    background-color: pink;
}

#terzoelementoprimariga {
    height: 300px;
    width: 100%;
    border: 2px solid black;
    background-color: grey;
}
#terzoelementosecondariga {
    height: 400px;
    width: 100%;
    border: 2px solid black;
    background-color: lightgrey;
}

#chatboxfixed {




}

footer section{
    background-color: darkgrey;
}

#footerprimariga {
    height: 300px;
    width: 100%;
    border: 2px solid red;
    background-color: white;

}
#footersecondariga {
    height: 100px;
    width: 100%;
    border: 2px solid red;
    background-color: white;

}
#footerterzariga {
    height: 200px;
    width: 100%;
    border: 2px solid red;
    background-color: white;

}
